html, body {
    margin: 0;
    padding: 0;
}

body {
    background: white;
    background-size: cover;
    font-family: Arial Narrow, sans-serif;
    font-size: 18px;
}

h1 {
    font-family: Arial Narrow, sans-serif;
    font-size: 32px;
}

.header {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: header;
    background: white;
    display: grid;
    display: -ms-grid;
    grid-template-columns: 150px 1fr 240px;
    border-bottom: 3px solid rgb(163, 190, 212);
    padding-left: 25px;
    padding-top: 10px;
}

.backgr {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: back;
    font-size: 30px;
}

div.backgr {
    font-family: "Calibri Light", sans-serif;
    text-align: left;
    color: white;
    margin: 32px 120px;
}

.top-menu {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: top-menu;
    background: grey;
}

.left-menu {
    -ms-grid-row: 4;
    -ms-grid-column: 1;
    grid-area: left-menu;
    background: rgb(230, 230, 240);
    max-width: 220px;
}

.content {
    -ms-grid-row: 4;
    -ms-grid-column: 2;
    grid-area: content;
    padding: 5px 30px;
    background: white;
}

.footer {
    -ms-grid-row: 5;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: footer;
    background: rgb(115, 113, 177);
    display: -ms-grid;
    display: grid;
    grid-template-columns: 250px 1fr 130px;
}

.container {
    width: 950px;
    background: url("../images/back.png") no-repeat;
    background-size: cover;
    display: grid;
    display: -ms-grid;
    grid-template-areas:
            "header header"
            "back back"
            "top-menu top-menu"
            "left-menu content"
            "footer footer";
    -ms-grid-columns: 1fr 4fr;
    grid-template-columns: 1fr 4fr;
    -ms-grid-rows: 77px 105px 35px 1fr 80px;
    grid-template-rows: 77px 105px 35px 1fr 80px;
    min-height: 100vh;
}

.logo {
    background: url("../images/logo.png") no-repeat 50% 50%;
    background-size: contain;
}

div.top-right-nav-menu {
    font-size: 11px;
    position: relative;
}

div.top-right-nav-menu nav {
    position: absolute;
    top: calc(50% - 0.65em);
    left: 30%;
}

div.top-right-nav-menu a {
    color: black;
    padding: 5px;
}

div.top-right-nav-menu a:hover {
    text-decoration: none;
}
.top-menu {
    position: relative;
    background: -webkit-gradient(linear, left bottom, left top, from(rgb(161, 164, 212)), color-stop(rgb(204, 206, 232)),
    to(rgb(241, 241, 249)));
    background: -webkit-linear-gradient(bottom, rgb(161, 164, 212), rgb(204, 206, 232), rgb(241, 241, 249));
    background: -o-linear-gradient(bottom, rgb(161, 164, 212), rgb(204, 206, 232), rgb(241, 241, 249));
    background: -webkit-gradient(linear, left bottom, left top, from(rgb(161, 164, 212)), color-stop(rgb(204, 206, 232)), to(rgb(241, 241, 249)));
    background: linear-gradient(to top, rgb(161, 164, 212), rgb(204, 206, 232), rgb(241, 241, 249));
}

.nav-menu {
    position: absolute;
    top: calc(50% - 0.65em);
    left: 223px;
}

.nav-menu-item {
    height: 30px;
    width: 100px;
    color: white;
    text-transform: uppercase;
    margin: 0;
}

a.nav-menu-item {
    height:100%;
    font-size: 14px;
    text-decoration: none;
    padding: 10px 15px 9px 15px;
    margin: 0;
    color: black;
    font-weight: bold;
}

a.nav-menu-item:hover {
    background: white;
    border-bottom: none;
    background: -webkit-gradient(linear, left bottom, left top, from(rgb(37, 104, 147)),color-stop(rgb(108, 173, 202)),
    to(rgb(188, 220, 233)));
    background: -webkit-linear-gradient(bottom, rgb(37, 104, 147),rgb(108, 173, 202), rgb(188, 220, 233));
    background: -o-linear-gradient(bottom, rgb(37, 104, 147),rgb(108, 173, 202), rgb(188, 220, 233));
    background: -webkit-gradient(linear, left bottom, left top, from(rgb(37, 104, 147)),color-stop(rgb(108, 173, 202)), to(rgb(188, 220, 233)));
    background: linear-gradient(to top, rgb(37, 104, 147),rgb(108, 173, 202), rgb(188, 220, 233));
    color: white;
}

div.upper {
    text-transform: uppercase;
    width: 100%;
    height: 30px;
    background: rgb(115, 113, 177);
    position: relative;
}

div.upper span {
    position: absolute;
    top: calc(53% - 0.65em);
    left: 10%;
    color: white;
    font-size: 18px;
}

div.ul-menu ul {
    padding: 0;
    margin: 10px 0 0;
}

div.ul-menu li {
    list-style: none;
    background: url("../images/marker.PNG") no-repeat 1px;
    padding-left: 40px;
    margin-bottom: 5px;
    font-size: 12px;
}

div.ul-menu li:hover {
    background: url("../images/markerHover.PNG") no-repeat 1px 0;
}

div.ul-menu a {
    color: black;
}

div.main-content {
    display: -ms-inline-flexbox;
    display: inline-flex;
    display: -ms-flexbox;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
}

div.main-content-item {
    flex: 1 1 650px;
}

div.content nav {
    font-size: 11px;
    font-weight: bold;
    color: rgb(0, 159, 211);
    padding: 5px 5px 0 0;
}

div.content a {
    color: #0b4367;
    padding: 0 5px;
}

div.content nav {
    margin-left: -5px;
}

div.content a:hover {
    text-decoration: none;
}

hr {
    color: lightgrey;
    margin-bottom: 10px;
}

h4{
    margin: 10px 0 0;
    color: rgb(30, 90, 135);
}

h5 {
    font-size: 17px;
    margin: 13px 0;
    color: rgb(95, 95, 155);
}

span.info-box img {
    width: 150px;
    height: 180px;
    float: left;
    margin: 0 25px 0 0;
}

span.info-box {
    font-size: 12px;
}

nav.bottom-menu a {
    font-size: 11px;
    color: rgb(30, 90, 135);
}

div.bottom-logo {
    background: url("../images/logo.png") no-repeat 50% 60%;
    background-size: contain;
    position: relative;
    right: 25px;
}

div.contacts {
    padding-left: 30px;
    padding-top: 2px;
}

div.contacts p {
    font-size: 11px;
    line-height: 130%;
    color: white;
    margin-bottom: 0;
    margin-top: 20px;
}

.sub-menu li {
    list-style-type: none;
    font-size: 11px;
    font-family: Tahoma, serif;
    background: rgb(159, 206, 224);
    color: rgb(0, 50, 100);
}

.main-menu {
    padding: 0;
    margin: 0;
}

.main-menu > li {
    position: relative;
    display: inline-block;
}

.main-menu .sub-menu {
    position: absolute;
    top: 29px;
    background: black;
    margin: 0;
    padding: 0;
    display: none;
}

.main-menu > li:hover .sub-menu {
    display: block;
}

.sub-menu a {
    text-decoration: none;
    display: block;
    width: 166px;
    padding: 5px 5px 5px 10px;
}

.sub-menu a:hover {
    background: #256893;
    color: white;
}
