html, body {
  margin: 0;
  padding: 0;
}

body {
  background-color: white;
  font-family: Arial Narrow;
  font-size: 18px;
}

h1 {
  font-family: Arial Narrow;
  font-size: 32px;
}

body > div {
}

.header {
  grid-area: header;
  background: white;
  display: grid;
  grid-template-columns: 130px 1fr 240px;
  border-bottom: 3px solid rgb(163, 190, 212);
  padding-left: 15px;
}

.backgr {
  grid-area: back;
  background: url(../images/back-bar.JPG) no-repeat;
  background-size: cover;
}

.top-menu {
  grid-area: top-menu;
  background: grey;
  position: relative;
}

.left-menu {
  grid-area: left-menu;
  background: rgb(230, 230, 240);
}

.content {
  grid-area: content;
  padding: 5px 30px; 
}

.footer {
  grid-area: footer;
  background: rgb(115, 113, 177);
  display: grid;
  grid-template-columns: 200px 1fr 100px;
}

.container {
  width: 50%;
  display: grid;
  grid-template-areas: 
    "header header"
    "back back"
    "top-menu top-menu"
    "left-menu content"
    "footer footer";
  grid-template-columns: 170px 1fr;
  grid-template-rows: 1.1fr 1.4fr 0.45fr 10fr 55px;
  min-height: 100vh;
}

.logo {
  width: 100%;
  height: 100%;
  background: url(../images/logo.JPG) no-repeat;
  background-size: contain;
  background-position: 50% 50%; 
}

div.top-right-nav-menu {
  font-size: 8px;
  position: relative;
}

div.top-right-nav-menu nav {
  position: absolute; 
  top: calc(50% - 0.65em);
  left: 40%;
}

div.top-right-nav-menu a {
  color: black;
  padding: 5px;
}

div.top-right-nav-menu a:hover {
  text-decoration: none;
}
.top-menu {
  position: relative;
  background: linear-gradient(to top, rgb(161, 164, 212), rgb(204, 206, 232), rgb(241, 241, 249));
}

.nav-menu {
  position: absolute; 
  top: calc(42% - 0.65em);
  left: 175px;
}

.nav-menu-item {
  height: 30px;
  width: 100px;
  color: white;
  text-transform: uppercase;
  margin: 0;
}

a.nav-menu-item {
  height:100%;
  color: white;
  font-size: 11px;
  text-decoration: none;
  padding: 5px 10px;
  margin: 0;
  color: black;
  font-weight: bold;
}

a.nav-menu-item:hover {
  color: black;
  background: white;
  border-bottom: none;
  margin: 0;
  background: linear-gradient(to top, rgb(37, 104, 147),rgb(108, 173, 202), rgb(188, 220, 233));
  color: white;
}

div.upper {
  text-transform: uppercase;
  width: 100%;
  height: 25px;
  background: rgb(115, 113, 177);
  position: relative;
}

div.upper span {
  position: absolute; 
  top: calc(50% - 0.65em);
  left: 10%;
  color: white;
  font-size: 14px;
}

div.ul-menu ul {
  margin: 0;
  padding: 0;
  margin-top: 10px;
}

div.ul-menu li {
  list-style: none;
  background: url(../images/marker.PNG) no-repeat 1px;
  padding-left: 40px;
  margin-bottom: 5px;
  font-size: 10px;
}

div.ul-menu li:hover {
  background: url(../images/markerHover.PNG) no-repeat 1px;  
}

div.ul-menu a {
  color: black;
}

div.content nav {
  font-size: 8px;
  font-weight: bold;
  color: rgb(0, 159, 211);
  padding-right: 5px;
  
}

div.content a {
  color: black;
  padding: 0 5px;
}

div.content a:hover {
    text-decoration: none;
}

hr {
  color: lightgrey;
  margin-bottom: 10px;
}

h4{
  margin: 0;
  margin-top: 10px;
  color: rgb(30, 90, 135);
}

h5 {
  margin: 13px 0;
  color: rgb(95, 95, 155);
}

span.info-box img {
  width: 110px;
  height: 140px;
  float: left;
  margin: 0 25px 0 0;
}

span.info-box {
  font-size: 12px;
}

nav.bottom-menu a {
  font-size: 9px;
  color: rgb(30, 90, 135);
}

div.bottom-logo {
  background: url(../images/bottom-logo.JPG) no-repeat;
  background-size: contain;
  background-position: 50% 50%;
  position: relative;
  right: 15px;
}

div.contacts {
  padding-left: 20px; 
  padding-top: 2px;
}

div.contacts p {
  font-size: 8px;
  line-height: 130%;
  color: white;
}