html, body {
    margin: 0;
    padding: 0;
}

body {
    background: white;
    background-size: cover;
    font-family: Arial Narrow, sans-serif;
    font-size: 18px;
}

h1 {
    font-family: Arial Narrow, sans-serif;
    font-size: 32px;
}

.header {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: header;
    background: white;
    display: grid;
    display: -ms-grid;
    grid-template-columns: 130px 1fr 240px;
    border-bottom: 3px solid rgb(163, 190, 212);
    padding-left: 15px;
}

.backgr {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: back;
    /*background: url(../images/back-bar.JPG) no-repeat;*/
    background-size: cover;
}

div.backgr {
    font-family: "Calibri Light", sans-serif;
    text-align: left;
    font-weight: bold;
    color: white;
    font-style: italic;
    margin: 23px 80px;
}

.top-menu {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: top-menu;
    background: grey;
    position: relative;
}

.left-menu {
    -ms-grid-row: 4;
    -ms-grid-column: 1;
    grid-area: left-menu;
    background: rgb(230, 230, 240);
}

.content {
    -ms-grid-row: 4;
    -ms-grid-column: 2;
    grid-area: content;
    padding: 5px 30px;
    background: white;
}

.footer {
    -ms-grid-row: 5;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: footer;
    background: rgb(115, 113, 177);
    display: -ms-grid;
    display: grid;
    grid-template-columns: 200px 1fr 100px;
}

.container {
    width: 55%;
    background: url("../images/back.png") ;
    display: grid;
    display: -ms-grid;
    grid-template-areas:
            "header header"
            "back back"
            "top-menu top-menu"
            "left-menu content"
            "footer footer";
    -ms-grid-columns: 170px 1fr;
    grid-template-columns: 170px 1fr;
    -ms-grid-rows: 1.1fr 1.4fr 0.45fr 10fr 55px;
    grid-template-rows: 1.1fr 1.4fr 0.45fr 10fr 55px;
    min-height: 100vh;
}

.logo {
    background: url("../images/logo.png") no-repeat 50% 50%;
    background-size: contain;
}

div.top-right-nav-menu {
    font-size: 9px;
    position: relative;
}

div.top-right-nav-menu nav {
    position: absolute;
    top: calc(50% - 0.65em);
    left: 40%;
}

div.top-right-nav-menu a {
    color: black;
    padding: 5px;
}

div.top-right-nav-menu a:hover {
    text-decoration: none;
}
.top-menu {
    position: relative;
    background: -webkit-gradient(linear, left bottom, left top, from(rgb(161, 164, 212)), color-stop(rgb(204, 206, 232)), to(rgb(241, 241, 249)));
    background: -webkit-linear-gradient(bottom, rgb(161, 164, 212), rgb(204, 206, 232), rgb(241, 241, 249));
    background: -o-linear-gradient(bottom, rgb(161, 164, 212), rgb(204, 206, 232), rgb(241, 241, 249));
    background: linear-gradient(to top, rgb(161, 164, 212), rgb(204, 206, 232), rgb(241, 241, 249));
}

.nav-menu {
    position: absolute;
    top: calc(42% - 0.65em);
    left: 165px;
}

.nav-menu-item {
    height: 30px;
    width: 100px;
    color: white;
    text-transform: uppercase;
    margin: 0;
}

a.nav-menu-item {
    height:100%;
    font-size: 11px;
    text-decoration: none;
    padding: 4px 10px 6px 10px;
    margin: 0;
    color: black;
    font-weight: bold;
}

a.nav-menu-item:hover {
    background: white;
    border-bottom: none;
    background: -webkit-gradient(linear, left bottom, left top, from(rgb(37, 104, 147)),color-stop(rgb(108, 173, 202)), to(rgb(188, 220, 233)));
    background: -webkit-linear-gradient(bottom, rgb(37, 104, 147),rgb(108, 173, 202), rgb(188, 220, 233));
    background: -o-linear-gradient(bottom, rgb(37, 104, 147),rgb(108, 173, 202), rgb(188, 220, 233));
    background: linear-gradient(to top, rgb(37, 104, 147),rgb(108, 173, 202), rgb(188, 220, 233));
    color: white;
}

div.upper {
    text-transform: uppercase;
    width: 100%;
    height: 25px;
    background: rgb(115, 113, 177);
    position: relative;
}

div.upper span {
    position: absolute;
    top: calc(50% - 0.65em);
    left: 10%;
    color: white;
    font-size: 14px;
}

div.ul-menu ul {
    padding: 0;
    margin: 10px 0 0;
}

div.ul-menu li {
    list-style: none;
    background: url("../images/marker.PNG") no-repeat 1px;
    padding-left: 40px;
    margin-bottom: 5px;
    font-size: 10px;
}

div.ul-menu li:hover {
    background: url("../images/markerHover.PNG") no-repeat 1px;
}

div.ul-menu a {
    color: black;
}

div.content nav {
    font-size: 9px;
    font-weight: bold;
    color: rgb(0, 159, 211);
    padding-right: 5px;

}

div.content a {
    color: black;
    padding: 0 5px;
}

div.content a:hover {
    text-decoration: none;
}

hr {
    color: lightgrey;
    margin-bottom: 10px;
}

h4{
    margin: 10px 0 0;
    color: rgb(30, 90, 135);
}

h5 {
    margin: 13px 0;
    color: rgb(95, 95, 155);
}

span.info-box img {
    width: 110px;
    height: 140px;
    float: left;
    margin: 0 25px 0 0;
}

span.info-box {
    font-size: 12px;
}

nav.bottom-menu a {
    font-size: 10px;
    color: rgb(30, 90, 135);
}

div.bottom-logo {
    background: url("../images/logo.png") no-repeat 50% 50%;
    background-size: contain;
    position: relative;
    right: 15px;
}

div.contacts {
    padding-left: 20px;
    padding-top: 2px;
}

div.contacts p {
    font-size: 9px;
    line-height: 130%;
    color: white;
}
